<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Teams</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css">

  <style>
    * {
      margin: 10px;
      padding: 0px;
    }

    body {
      background-color: rgb(226, 226, 226);
    }

    .row {
      margin-left: auto;
    }
  </style>

</head>

<body>

  <div class="row">

    {{#each teams}}
    <div class="col">
      <div class="card" style=" width: 18rem;">
        <img class="card-img-top" src={{img}} alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{fullName}}</h5>
        </div>
      </div>
    </div>
    {{/each}}
  </div>



</body>

</html>